// 1999 991 767 575
// base
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  line-height: 1.2;
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  z-index: 1;
  @media (max-width: 767px) {
      font-size: 14px;
  }
  &.hidden {
    overflow: hidden;
  }
}
.main {
  flex: 1 0 auto;
  // overflow-x: hidden;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  text-align: center;
}
h2 {
  font-size: 36px;
  line-height: 1.2;
  @media (max-width: 767px) {
      font-size: 26px;
  }
}
button {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
}

// button
.button {
  &__primary {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 150px;
    min-width: 150px;
    width: 100%;
    background-color: #000;
    padding: 13.5px 20px;
    border-radius: 30px;
    color: #fff;
    text-align: center;
    border: 1px solid #000;
    transition: all 0.3s;
    opacity: 1;
    @media (min-width: 768px) {
      &:hover {
        background-color: transparent;
        color: #000;
      }
    }
  }
  &__secondary {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    color: #000;
    border-radius: 20px;
    text-align: center;
    max-width: 150px;
    width: 100%;
    padding: 14.5px 20px;
    border: 1px solid #fff;
    @media (min-width: 768px) {
      &:hover {
        background-color: transparent;
        color: #fff;
        opacity: 1;
      }
    }
  }
}


// page
.black {
  background-color: #000;
}
a {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s;
  color: #000;
  @media (min-width: 768px) {
    &:hover {
      opacity: 0.5;
    }
  }
}

.header {
  &__wrapper {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 99;
    width: 100%;
  }
  &__inner {
    padding: 40px 0;
    display: flex;
    margin: 0 -15px;
    @media (max-width: 1300px) {
      margin: 0;
    }
    @media (max-width: 991px) {
      padding: 20px 0;
    }
  }
  &__logo {
    padding-right: 40px;
    position: relative;
    z-index: 1;
  }
  &__nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    li {
      @media (max-width: 767px) {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 15px;
      }
    }
    li+li {    
      @media (min-width: 768px) {
        padding-left: 40px;
      }
      @media (max-width: 767px) {
        border-top: 1px solid #000;
      }
    }
    a {
      font-weight: bold;
      @media (max-width: 767px) {
        font-size: 21px;
        padding: 20px 0;
        width: 100%;
        text-align: center;
      }
    }
    &_large {
      display: flex;
      align-items: center;
      @media (max-width: 767px) {
        display: none;
      }
    }
    &_mobile {
      display: none;
      position: absolute;
      top: 0;
      right: 0;
      transform: translateX(-100%);
      transition: all 0.5s;
      @media (max-width: 767px) {
        padding: 60px 0 80px;
        display: flex;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        height: calc(100vh + 80px);
      }
      &.active {
        transform: translateX(0);
      }
      .button__primary {
        max-width: 100%;
        margin-top: 20px;
      }
    }
    .header__logo a {
      padding: 0;
    }
  }
  &__burger {
    display: none;
    width: 25px;
    height: 15px;
    cursor: pointer;
    position: relative;
    z-index: 1;
    @media (max-width: 767px) {
      display: flex;
    }
    span {
      width: 100%;
      height: 1px;
      background-color: black;
      display: inline-block;
      position: absolute;
      left: 0;
      transition: all 0.3s;
      &:first-of-type {
        top: 0;
      }
      &:nth-of-type(2),
      &:nth-of-type(3) {
        top: 50%;
        transform: translateY(-50%);
      }
      &:nth-of-type(3) {
        opacity: 0;
      }
      &:last-of-type {
        bottom: 0;
      }
    }
    &.active {
      span {
        &:first-of-type,
        &:last-of-type {
          opacity: 0;
        }
        &:nth-of-type(2) {
          transform: rotate(-45deg);
        }
        &:nth-of-type(3) {
          transform: rotate(45deg);
          opacity: 1;
        }
      }
    }
  }
}

// banner
.banner {
  &__wrapper {
    min-height: 1080px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: none;
    @media (max-width: 1199px) {
      min-height: 800px;
    }
    @media (max-width: 991px) {
      min-height: 600px;
    }
    @media (max-width: 767px) {
      min-height: 400px;
    }
    @media (max-width: 565px) {
      min-height: 350px;
    }
    @media (max-width: 415px) {
      min-height: 270px;
    }
    &.choosed {
      display: block;
      animation: bannerOn 2s;
    }
  }
  h1 {
    display: none;
  }
}

// options
.options {
  &__wrapper {
    padding: 46px 0 90px;
    @media (max-width: 767px) {
     padding: 40px 0; 
    }
  }
  // &__inner {}
  &__info {
    max-width: 558px;
    width: 100%;
    margin: 0 auto 80px;
    @media (max-width: 767px) {
      margin-bottom: 40px; 
    }
    h2 {
      margin-bottom: 20px;
    }
    p {
      text-align: center;
    }
  }
  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
    @media (max-width: 767px) {
      gap: 20px;
    }
    &.effect {
      animation: optionOn 2s;
    }
    li {
      padding: 47px 54px;
      border: 1px solid #777;
      border-radius: 20px;
      cursor: pointer;
      @media (max-width: 1999px) {
        flex-basis: calc(35% - 20px);
        width: 100%;
        display: flex;
        justify-content: center;
      }
      @media (max-width: 767px) {
        flex-basis: calc(40% - 10px);
      }
      @media (max-width: 575px) {
        flex-basis: calc(30% - 10px);
        padding: 30px 40px;
      }
      &.choosed {
        display: none;
      }
      &:hover {
        button img {
          transform: scale(1.05);
        }
      }
      button {
        cursor: pointer;
        img {
          transition: all 0.5s;
        }
      }
    }
  }
}

// description
.description {
  &__wrapper {
    padding: 90px 0 180px;
    @media (max-width: 767px) {
      padding: 40px 0;
    }
    h2 {
      font-size: 64px;
      margin-bottom: 20px;
      @media (max-width: 767px) {
        font-size: 40px;
      }
    }
    h3 {
      margin: 0 auto 40px;
      max-width: 654px;
      width: 100%;
      font-weight: normal;
      @media (max-width: 767px) {
        margin-bottom: 20px;
      }
    }
  }
  // &__inner {}
  &__case {
    max-width: 625px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    @media (max-width: 575px) {
      flex-direction: column;
    }
  }
  &__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 260px;
    width: 100%;
    padding-right: 30px;
    @media (max-width: 575px) {
      max-width: 100%;
      padding-right: 0;
      margin-bottom: 20px;
      text-align: center;
    }
    p+p {
      padding-top: 20px;
    }
  }
  &__image {
    img {
      display: none;
      @media (max-width: 575px) {
        object-fit: contain;
        width: 100%;
      }
      &.choosed {
        display: flex;
        animation: imageOn 2s;
      }
    }
  }
}

// advantages
.advantages {
  &__wrapper {
    background-color: #FAFAFA;
    padding-bottom: 20px;
    @media (max-width: 767px) {
     padding-bottom: 0; 
    }
    h2 {
      font-size: 64px;
      margin-bottom: 20px;
      @media (max-width: 767px) {
        font-size: 40px;
      }
    }
    h3 {
      margin-bottom: 40px;
      @media (max-width: 767px) {
        margin-bottom: 20px;
      }
    }
  }
  // &__inner {}
  &__block {
    padding: 80px 0;
    @media (max-width: 767px) {
      padding: 40px 0;
    }
  }
  &__image {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      display: none;
      @media (max-width: 575px) {
        width: 100%;
      }
      &.choosed {
        display: block;
        animation: advantagesImage 2s;
      }
    }
  }
  &__case {
    padding: 80px 0;
    @media (max-width: 767px) {
      padding: 40px 0;
    }
    h2 {
      margin-bottom: 40px;
      @media (max-width: 767px) {
        margin-bottom: 20px;
      }
    }
    p {
      max-width: 403px;
      width: 100%;
      margin: 0 auto;
      text-align: center;
      b {
        display: block;
        font-size: 210px;
        margin: 0 auto 40px;
        font-weight: bold;
        @media (max-width: 767px) {
          font-size: 140px;
          margin-bottom: 20px;
        }
      }
    }
  }
}

.quality {
  &__wrapper {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 1845px;
    position: relative;
    z-index: 1;
    &::before {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: absolute;
      width: 100%;
      min-height: 1350px;
      z-index: 1;
      left: 0;
      bottom: -200px;
      @media (max-width: 991px) {
        min-height: 700px; 
       }
      @media (max-width: 767px) {
        min-height: 600px;
        bottom: -100px;
       }
       @media (max-width: 575px) {
        min-height: 500px;
       }
       @media (max-width: 420px) {
        min-height: 300px;
       }
    }
    @media (max-width: 991px) {
     min-height: 1000px; 
    }
    @media (max-width: 767px) {
      min-height: 600px;
    }
    @media (max-width: 575px) {
      min-height: 400px;
    }
  }
  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    max-width: 300px;
    width: 100%;
    min-height: 1845px;
    margin: 0 auto;
    padding-bottom: 310px;
    position: relative;
    z-index: 1;
    @media (max-width:991px) {
      min-height: 1000px;
    }
    @media (max-width: 767px) {
      min-height: 600px;
      padding-bottom: 150px;
    }
    @media (max-width: 575px) {
      min-height: 400px;
      padding-bottom: 50px;
    }
    a {
      margin: 0 auto;
    }
  }
  &__text {
    margin-bottom: 40px;
    @media (max-width: 767px) {
      margin-bottom: 20px;
    }
    p+p {
      margin-top: 16px;
    }
    p {
      color: #fff;
      line-height: 1.3;
      text-align: center;
    }
  }
}

// footer
.footer {
  flex: 0 0 auto;
  // .footer__wrapper
  // &__wrapper {}
  // .footer__inner
  &__inner {
    padding: 210px 0 0;
    position: relative;
    z-index: 1;
    @media (max-width: 767px) {
      padding-top: 150px;
     }
    @media (max-width: 575px) {
      padding-top: 100px;
     }
    a,
    p {
      color: #fff;
      font-weight: bold;
    }
  }
  // .footer__info
  &__info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px 0;
    @media (max-width: 767px) {
      padding: 20px 0;
    }
    a {
      width: 100%;
    }
  }
  // .footer__contacts
  &__contacts {
    a {
      margin-bottom: 20px;
      text-align: center;
    }
  }
  // .footer__block
  &__block {
    padding: 40px 0;
    display: flex;
    justify-content: center;
    @media (max-width: 767px) {
      flex-direction: column-reverse;
      padding: 20px 0 50px;
    }
    // .footer__block_text
    &_text {
      display: flex;
      margin-right: 20px;
      @media (max-width: 767px) {
        margin: 20px 0 0;
        justify-content: center;
      }
      @media (max-width: 575px) {
        flex-direction: column;
        text-align: center;
      }
      p+p {
        margin-left: 20px;
        @media (max-width: 575px) {
          margin: 15px 0 0;
        }
      }
    }
  }
  // .footer__nav
  &__nav {
    @media (max-width: 767px) {
      display: flex;
      justify-content: center;
    }
    a+a {
      margin-left: 20px;
    }
  }
}

@keyframes bannerOn {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes optionOn {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes imageOn {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes advantagesImage {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}