* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 1.2;
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  z-index: 1;
}

.main {
  flex: 1 0 auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  text-align: center;
}

h2 {
  font-size: 36px;
  line-height: 1.2;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
}

.button__primary {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 150px;
  min-width: 150px;
  width: 100%;
  background-color: #000;
  padding: 13.5px 20px;
  border-radius: 30px;
  color: #fff;
  text-align: center;
  border: 1px solid #000;
  transition: all 0.3s;
  opacity: 1;
}
@media (min-width: 720px) {
  .button__primary:hover {
    background-color: transparent;
    color: #000;
  }
}
.button__secondary {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  color: #000;
  border-radius: 20px;
  text-align: center;
  max-width: 150px;
  width: 100%;
  padding: 14.5px 20px;
  border: 1px solid #fff;
}
@media (min-width: 720px) {
  .button__secondary:hover {
    background-color: transparent;
    color: #fff;
    opacity: 1;
  }
}

.black {
  background-color: #000;
}

a {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s;
  color: #000;
}
@media (min-width: 720px) {
  a:hover {
    opacity: 0.5;
  }
}

.header__wrapper {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 99;
  width: 100%;
}
.header__inner {
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 -15px;
}
.header__logo {
  padding-right: 40px;
}
.header__nav ul {
  display: flex;
  align-items: center;
}
.header__nav li + li {
  padding-left: 40px;
}
.header__nav a {
  font-weight: bold;
}

.banner__wrapper {
  min-height: 1080px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: none;
}
.banner__wrapper.choosed {
  display: block;
  animation: bannerOn 2s;
}
.banner h1 {
  display: none;
}

.options__wrapper {
  padding: 46px 0 90px;
}
.options__info {
  max-width: 558px;
  width: 100%;
  margin: 0 auto 80px;
}
.options__info h2 {
  margin-bottom: 20px;
}
.options__info p {
  text-align: center;
}
.options__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 40px;
}
.options__list.effect {
  animation: optionOn 2s;
}
.options__list li {
  padding: 47px 54px;
  border: 1px solid #777;
  border-radius: 20px;
  cursor: pointer;
}
.options__list li.choosed {
  display: none;
}
.options__list li:hover button img {
  transform: scale(1.05);
}
.options__list li button {
  cursor: pointer;
}
.options__list li button img {
  transition: all 0.5s;
}

.description__wrapper {
  padding: 90px 0 180px;
}
.description__wrapper h2 {
  font-size: 64px;
  margin-bottom: 20px;
}
.description__wrapper h3 {
  margin: 0 auto 40px;
  max-width: 654px;
  width: 100%;
  font-weight: normal;
}
.description__case {
  max-width: 625px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.description__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 260px;
  width: 100%;
  padding-right: 30px;
}
.description__text p + p {
  padding-top: 20px;
}
.description__image img {
  display: none;
}
.description__image img.choosed {
  display: block;
  animation: imageOn 2s;
}

.advantages__wrapper {
  background-color: #FAFAFA;
  padding-bottom: 20px;
}
.advantages__wrapper h2 {
  font-size: 64px;
  margin-bottom: 20px;
}
.advantages__wrapper h3 {
  margin-bottom: 40px;
}
.advantages__block {
  padding: 80px 0;
}
.advantages__image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.advantages__image img {
  display: none;
}
.advantages__image img.choosed {
  display: block;
  animation: advantagesImage 2s;
}
.advantages__case {
  padding: 80px 0;
}
.advantages__case h2 {
  margin-bottom: 40px;
}
.advantages__case p {
  max-width: 403px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.advantages__case p b {
  display: block;
  font-size: 210px;
  margin: 0 auto 40px;
  font-weight: bold;
}

.quality__wrapper {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 1845px;
  position: relative;
  z-index: 1;
}
.quality__wrapper::before {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 100%;
  min-height: 1350px;
  z-index: 1;
  left: 0;
  bottom: -200px;
}
.quality__inner {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  max-width: 300px;
  width: 100%;
  min-height: 1845px;
  margin: 0 auto;
  padding-bottom: 310px;
  position: relative;
  z-index: 1;
}
.quality__inner a {
  margin: 0 auto;
}
.quality__text {
  margin-bottom: 40px;
}
.quality__text p + p {
  margin-top: 16px;
}
.quality__text p {
  color: #fff;
  line-height: 1.3;
  text-align: center;
}

.footer {
  flex: 0 0 auto;
}
.footer__inner {
  padding: 210px 0 0;
  position: relative;
  z-index: 1;
}
.footer__inner a,
.footer__inner p {
  color: #fff;
  font-weight: bold;
}
.footer__info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px 0;
}
.footer__info a {
  width: 100%;
}
.footer__contacts a {
  margin-bottom: 20px;
  text-align: center;
}
.footer__block {
  padding: 40px 0;
  display: flex;
  justify-content: center;
}
.footer__block_text {
  display: flex;
  margin-right: 20px;
}
.footer__block_text p + p {
  margin-left: 20px;
}
.footer__nav a + a {
  margin-left: 20px;
}

@keyframes bannerOn {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes optionOn {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes imageOn {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes advantagesImage {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}/*# sourceMappingURL=style.css.map */