// base
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  line-height: 1.2;
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  z-index: 1;
}
.main {
  flex: 1 0 auto;
  // overflow-x: hidden;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  text-align: center;
}
h2 {
  font-size: 36px;
  line-height: 1.2;
}
button {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
}

// button
.button {
  &__primary {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 150px;
    min-width: 150px;
    width: 100%;
    background-color: #000;
    padding: 13.5px 20px;
    border-radius: 30px;
    color: #fff;
    text-align: center;
    border: 1px solid #000;
    transition: all 0.3s;
    opacity: 1;
    @media (min-width: 720px) {
      &:hover {
        background-color: transparent;
        color: #000;
      }
    }
  }
  &__secondary {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    color: #000;
    border-radius: 20px;
    text-align: center;
    max-width: 150px;
    width: 100%;
    padding: 14.5px 20px;
    border: 1px solid #fff;
    @media (min-width: 720px) {
      &:hover {
        background-color: transparent;
        color: #fff;
        opacity: 1;
      }
    }
  }
}


// page
.black {
  background-color: #000;
}
a {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s;
  color: #000;
  @media (min-width: 720px) {
    &:hover {
      opacity: 0.5;
    }
  }
}

.header {
  &__wrapper {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 99;
    width: 100%;
  }
  &__inner {
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 -15px;
  }
  &__logo {
    padding-right: 40px;
  }
  &__nav {
    ul {
      display: flex;
      align-items: center;
    }
    li+li {
      padding-left: 40px;
    }
    a {
      font-weight: bold;
    }
  }
}

// banner
.banner {
  &__wrapper {
    min-height: 1080px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: none;
    &.choosed {
      display: block;
      animation: bannerOn 2s;
    }
  }
  h1 {
    display: none;
  }
}

// options
.options {
  &__wrapper {
    padding: 46px 0 90px;
  }
  // &__inner {}
  &__info {
    max-width: 558px;
    width: 100%;
    margin: 0 auto 80px;
    h2 {
      margin-bottom: 20px;
    }
    p {
      text-align: center;
    }
  }
  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 40px;
    &.effect {
      animation: optionOn 2s;
    }
    li {
      padding: 47px 54px;
      border: 1px solid #777;
      border-radius: 20px;
      cursor: pointer;
      &.choosed {
        display: none;
      }
      &:hover {
        button img {
          transform: scale(1.05);
        }
      }
      button {
        cursor: pointer;
        img {
          transition: all 0.5s;
        }
      }
    }
  }
}

// description
.description {
  &__wrapper {
    padding: 90px 0 180px;
    h2 {
      font-size: 64px;
      margin-bottom: 20px;
    }
    h3 {
      margin: 0 auto 40px;
      max-width: 654px;
      width: 100%;
      font-weight: normal;
    }
  }
  // &__inner {}
  &__case {
    max-width: 625px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
  &__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 260px;
    width: 100%;
    padding-right: 30px;
    p+p {
      padding-top: 20px;
    }
  }
  &__image {
    img {
      display: none;
      &.choosed {
        display: block;
        animation: imageOn 2s;
      }
    }
  }
}

// advantages
.advantages {
  &__wrapper {
    background-color: #FAFAFA;
    padding-bottom: 20px;
    h2 {
      font-size: 64px;
      margin-bottom: 20px;
    }
    h3 {
      margin-bottom: 40px;
    }
  }
  // &__inner {}
  &__block {
    padding: 80px 0;
  }
  &__image {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      display: none;
      &.choosed {
        display: block;
        animation: advantagesImage 2s;
      }
    }
  }
  &__case {
    padding: 80px 0;
    h2 {
      margin-bottom: 40px;
    }
    p {
      max-width: 403px;
      width: 100%;
      margin: 0 auto;
      text-align: center;
      b {
        display: block;
        font-size: 210px;
        margin: 0 auto 40px;
        font-weight: bold;
      }
    }
  }
}

.quality {
  &__wrapper {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 1845px;
    position: relative;
    z-index: 1;
    &::before {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: absolute;
      width: 100%;
      min-height: 1350px;
      z-index: 1;
      left: 0;
      bottom: -200px;
    }
  }
  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    max-width: 300px;
    width: 100%;
    min-height: 1845px;
    margin: 0 auto;
    padding-bottom: 310px;
    position: relative;
    z-index: 1;
    a {
      margin: 0 auto;
    }
  }
  &__text {
    margin-bottom: 40px;
    p+p {
      margin-top: 16px;
    }
    p {
      color: #fff;
      line-height: 1.3;
      text-align: center;
    }
  }
}

// footer
.footer {
  flex: 0 0 auto;
  // .footer__wrapper
  // &__wrapper {}
  // .footer__inner
  &__inner {
    padding: 210px 0 0;
    position: relative;
    z-index: 1;
    a,
    p {
      color: #fff;
      font-weight: bold;
    }
  }
  // .footer__info
  &__info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px 0;
    a {
      width: 100%;
    }
  }
  // .footer__contacts
  &__contacts {
    a {
      margin-bottom: 20px;
      text-align: center;
    }
  }
  // .footer__block
  &__block {
    padding: 40px 0;
    display: flex;
    justify-content: center;
    // .footer__block_text
    &_text {
      display: flex;
      margin-right: 20px;
      p+p {
        margin-left: 20px;
      }
    }
  }
  // .footer__nav
  &__nav {
    a+a {
      margin-left: 20px;
    }
  }
}

@keyframes bannerOn {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes optionOn {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes imageOn {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes advantagesImage {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}